.Latest {
  
  padding: 30px;

  .latestBox {
    height: 75vh;
    overflow: hidden auto;
  }

  .latestContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  }

  .project-title {
    display: block;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  }

  @media only screen and (max-width: 700px) {
    padding: 10px;
    left: 10%;
    right: 10%;
    .latestContents {
      border-radius: 0;
      padding: 0;
      margin: 10px 0 0 0;
    }
    .footerContents {
      font-size: 12px; 
    }
  }

}