.Latest {
  
  padding: 30px;
  position: fixed;
  left: 10%;
  right: 10%;

  .latestBox {
    height: 75vh;
    overflow: hidden auto;
  }

  .latestContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  }
}