.Links {
  
  padding: 30px;
  position: fixed;
  left: 10%;
  right: 10%;

  .linksBox {
    height: 75vh;
    overflow: hidden auto;
  }

  .linksContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  }

  @media only screen and (max-width: 700px) {

    padding: 0;
    position: initial;
    left: 1%;
    right: 1%;
    font-size: 16px;
    text-align: left;
    .linksBox {
      height: 100%;
    }
    .linksContents {
      border-radius: 0;
      padding: 0;
      margin: 10px 0 0 0;
    }
    .h1 {
      font-size: 20px;
    }
    .h2 {
      font-size: 18px;
    }
    .h3 {
      font-size: 18px;
    }
  }

}