.HomePage {
  
  padding: 30px;
  position: fixed;
  left: 10%;
  right: 10%;

  .homePageBox {
    height: 75vh;
    overflow: hidden auto;
  }

  .homePageContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  
    .myInfo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .myInfo p::first-letter {
      font-size: 120%;
    }

    .homePageText {
      font-size: 18px;
    }
  }
}